<link rel="stylesheet" href="/control/css/header.css">

<div class="navbar">
    <div class="navbar-content">
        <a href="/home.html" class="nav-btn">Back to Home Page</a>
        <a href="/customers.html" class="nav-btn">Customers</a>
        <a href="/customer.html" class="nav-btn">Customer</a>
        <a href="/my-account.html" class="nav-btn">My Account</a>
        <a href="/manage-customer.html" class="nav-btn">Manage Customer</a>
        <a href="/manage-customers.html" class="nav-btn">Manage Customers</a>
        <a href="/create-customer-relays.html" class="nav-btn">Create Customer Relays</a>
    </div>
</div>
