<link rel="stylesheet" href="/css/header.css">

<div class="navbar">
    <div class="navbar-content">
        <a href="/home.html" class="nav-btn">Back to Home Page</a>
        <a href="/overview.html" class="nav-btn">Overview</a>
        <a href="/customers.html" class="nav-btn">Customers</a>
        <a href="/personalized-recommendations.html" class="nav-btn">Personalized Recommendations</a>
        <a href="/nip87.html" class="nav-btn">Curated Mints using NIP -87</a>
        <a href="/control-panel.html" class="nav-btn">Control Panel (legacy)</a>
        <a href="/neo4j-control-panel.html" class="nav-btn">Neo4j Control Panel</a>
        <a href="/nip85-control-panel.html" class="nav-btn">NIP 85 Control Panel (legacy)</a>
        <a href="/graperank-control-panel.html" class="nav-btn">GrapeRank Control Panel</a>
        <a href="/blacklist-control-panel.html" class="nav-btn">Blacklist Control Panel</a>
        <a href="/whitelist-control-panel.html" class="nav-btn">Whitelist Control Panel</a>
        <a href="/network-visualization-lite.html" class="nav-btn">Network Visualization</a>
    </div>
</div>