<link rel="stylesheet" href="/control/css/header.css">

<div class="navbar">
    <div class="navbar-content-scrollable">
        <a href="/search.html" class="nav-btn">🔍 Profile Search</a>
        <a href="/profile-search.html" class="nav-btn">🔍 Profile Search redo</a>
        <a href="/profiles.html" class="nav-btn">👥 Profiles</a>
        <a href="/nip56.html" class="nav-btn">🚩 Curated Reports</a>
        <span>|</span>
        <a href="/about.html" class="nav-btn">About</a>
        <a href="/relay" target="_blank" class="nav-btn">Strfry Relay</a>
    </div>
</div>
