<link rel="stylesheet" href="/control/css/header.css">

<div class="navbar">
    <div class="navbar-content-scrollable">
        <a href="/task-explorer.html" class="nav-btn">Task Explorer</a>
        <a href="/service-management-dashboard.html" class="nav-btn">Service Management Dashboard</a>
        <a href="/manage-customers.html" class="nav-btn">Manage Customers</a>
        <a href="/neo4j-performance-metrics.html" class="nav-btn">Neo4j Performance Metrics</a>
        <a href="/task-watchdog-dashboard.html" class="nav-btn">Task Watchdog Dashboard</a>
        <a href="/task-behavior-analytics-dashboard.html" class="nav-btn">Task Behavior Analytics Dashboard</a>
        <a href="/neo4j-error-logs.html" class="nav-btn">Neo4j Error Logs</a>
        <a href="/neo4j-resource-config.html" class="nav-btn">Neo4j Resource Config</a>
        <a href="/add-new-customer.html" class="nav-btn">Add Customer</a>
        <span>|</span>
        <a href="/home.html" class="nav-btn">Legacy Manage Page</a>
        <a href="${BRAINSTORM_NEO4J_BROWSER_URL}" target="_blank" class="nav-btn">Neo4j Browser</a>
        <a href="/relay" target="_blank" class="nav-btn">Strfry Relay</a>
        <span>|</span>
        <a href="/nip56.html" class="nav-btn">🚩 Curated Reports</a>
        <a href="/nip85.html" class="nav-btn">Export Scores</a>
        <a href="/subscribe.html" class="nav-btn">Subscribe</a>
        <a href="/follow-recs.html" class="nav-btn">Follow Recs</a>
        <a href="/under-construction.html" class="nav-btn">🚧</a>
        <span>|</span>
        <a href="/profile-search.html" class="nav-btn">🔍 Profile Search</a>
        <a href="/search.html" class="nav-btn">🔍 Search</a>
        <a href="/search-2.html" class="nav-btn">🔍 Search-2</a>
        <a href="/npub-or-pubkey-search.html" class="nav-btn">🔍 Profile Search (npub or pubkey)</a>
        <a href="/profiles.html" class="nav-btn">👥 Profiles</a>
    </div>
</div>
