<!-- Brainstorm Footer Component -->
<link rel="stylesheet" href="/css/footer.css">

<div class="footer">
    <div class="footer-content">
        <div class="footer-item">
            Built on <a href="https://github.com/nostr-protocol/nostr" target="_blank">nostr</a> with 💜 by <a href="https://njump.me/npub1u5njm6g5h5cpw4wy8xugu62e5s7f6fnysv0sj0z3a8rengt2zqhsxrldq3" target="_blank">@straycat</a>
        </div>
        <div class="footer-item">
            Powered by <a href="https://github.com/hoytech/strfry" target="_blank">strfry</a> and <a href="https://neo4j.com/" target="_blank">Neo4j</a>
        </div>
        <div class="footer-item">
            <a href="https://github.com/Pretty-Good-Freedom-Tech/brainstorm" target="_blank">GitHub</a>
        </div>
    </div>
    <div class="footer-content">
        <div class="footer-item">
            <span style="color: #999; font-size: 12px;">v0.0.1-alpha</span> <span style="color: #f20505; font-size: 12px;">(expect breaking changes)</span>
        </div>
        <div class="footer-item">
            <a href="/about.html" target="_blank">About Brainstorm</a>
        </div>
        <div class="footer-item">
            <a href="/about-trusted-assertions.html" target="_blank">About Trusted Assertions</a>
        </div>
    </div>
</div>
