[Unit]
Description=calculate personalizedPageRank and store scores in Neo4j

[Service]
ExecStart=sudo /usr/local/lib/node_modules/brainstorm/src/algos/calculatePersonalizedPageRank.sh

[Install]
WantedBy=multi-user.target