[Unit]
Description=calculate personalizedGrapeRank and store scores in Neo4j

[Service]
ExecStart=sudo /usr/local/lib/node_modules/brainstorm/src/algos/personalizedGrapeRank/calculatePersonalizedGrapeRank.sh

[Install]
WantedBy=multi-user.target
