[Unit]
Description=Strfry to Neo4j Reconciliation
After=network.target neo4j.service

[Service]
Type=simple
User=brainstorm
EnvironmentFile=/etc/brainstorm.conf
ExecStart=sudo /usr/local/lib/node_modules/brainstorm/src/pipeline/reconciliation/reconciliation.sh
Restart=on-failure
RestartSec=30
# Set resource limits to prevent excessive resource usage
CPUQuota=70%
# Add additional security measures
PrivateTmp=true

[Install]
WantedBy=multi-user.target