[Unit]
Description=Run Strfry to Neo4j Reconciliation Pipeline periodically
After=network.target neo4j.service

[Timer]
# Run every 5 minutes
OnBootSec=5min
OnUnitActiveSec=5min
RandomizedDelaySec=5min

[Install]
WantedBy=timers.target