[Unit]
Description=strfry router for continuous streaming of kinds 3, 1984, and 10000 events

[Service]
ExecStart=sudo strfry router /etc/strfry-router.config
Restart=always

[Install]
WantedBy=multi-user.target