connectionTimeout = 20

streams {

    ## 2-way streaming WoT kind events from popular general purpose relays
    baselineWoT {
        dir = "down"

        filter = { "kinds": [0, 3, 1984, 10000], "limit": 5 }

        urls = [
            "wss://purplepag.es",
            "wss://relay.primal.net",
            "wss://relay.damus.io",
            "wss://relay.nostr.band"
        ]
    }

    brainstormNetworkWoT {
        dir = "both"

        filter = { "kinds": [0, 3, 1984, 10000], "limit": 5 }

        urls = [
            "wss://wot.grapevine.network",
            "wss://wot.brainstorm.social",
            "wss://relay.hasenpfeffr.com",
            "wss://profiles.nostr1.com"
        ]
    }

    nip85 {
        dir = "both"

        filter = { "kinds": [10040, 30382, 30383, 30384], "limit": 5 }

        urls = [
            "wss://nip85.brainstorm.world",
            "wss://nip85.nostr1.com",
            "wss://nip85.grapevine.network"
        ]
    }
}
