connectionTimeout = 20

streams {
    ## Stream down events from our friend relays

    baselineWoT {
        dir = "down"

        filter = { "kinds": [3, 1984, 10000, 30383, 30384], "limit": 5 }

        urls = [
            "wss://relay.primal.net",
            "wss://relay.hasenpfeffr.com",
            "wss://profiles.nostr1.com",
            "wss://relay.damus.io",
            "wss://relay.nostr.band"
        ]
    }

    profiles {
        dir = "down"

        filter = { "kinds": [0], "limit": 5 }

        urls = [
            "wss://relay.primal.net",
            "wss://relay.hasenpfeffr.com",
            "wss://profiles.nostr1.com",
            "wss://relay.damus.io",
            "wss://relay.nostr.band"
        ]
    }

    # All personal events
    personalContent {
        dir = "down"

        filter = { "authors": ["${ownerPubkey}"], "limit": 5 }

        urls = [
            "wss://relay.primal.net",
            "wss://relay.hasenpfeffr.com",
            "wss://profiles.nostr1.com",
            "wss://relay.damus.io",
            "wss://relay.nostr.band"
        ]
    }
}
