connectionTimeout = 20

streams {

    ## DCoSL: Decentralized Lists
    ## dedicated DCoSL relays
    dcosl {
        dir = "both"

        filter = { "kinds": [9998, 9999, 39998, 39999], "limit": 5 }

        ## TODO: enable this when plugin is ready
        ## We may want to gate this with a whitelist of pubkeys
        ## pluginDown = "/usr/local/lib/strfry/plugins/foo1.js"

        urls = [
            "wss://dcosl.brainstorm.world",
            "wss://dcosl.brainstorm.social/relay"
        ]
    }

    ## general purpose relays that might have DCoSL data but are not dedicated DCoSL relays
    ## don't upload kind 7 from these relays bc would be too many irrelevant events
    dcosl2 {
        dir = "down"

        filter = { "kinds": [9998, 9999, 39998, 39999], "limit": 5 }

        ## TODO: enable this when plugin is ready
        ## We may want to gate this with a whitelist of pubkeys
        ## pluginDown = "/usr/local/lib/strfry/plugins/foo2.js"

        urls = [
            "wss://relay.damus.io"
        ]
    }

    ## Relays that maintain Trusted Lists (see the Trusted Lists Custom NIP at nostrhub.io)
    trustedLists {
        dir = "both"

        filter = { "kinds": [30392, 30393, 30394, 30395], "limit": 5 }

        ## TODO: enable this when plugin is ready
        ## We may want to gate this with a whitelist of pubkeys
        ## pluginDown = "/usr/local/lib/strfry/plugins/foo3.js"

        urls = [
            "wss://nip85.brainstorm.world",
            "wss://nip85.nostr1.com",
            "wss://nip85.grapevine.network"
        ]
    }
}
